<header class="bg-dark">
  <nav class="navbar navbar-dark bg-dark">
    <a class="logo-class">
        <img width="100px" height="" src="../assets/logo.jpg" />
    </a>

    <form class="d-flex mx-auto search-bar-class">
      <input class="form-control me-2" type="search" placeholder="O que você procura?" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><mat-icon class="mt-2">search</mat-icon></button>
    </form>

    <div class="route-class">
        <a style="text-decoration: none" target="_blank"
            href="https://www.google.com/maps/dir//Av.+Dr.+Chafic+Facury,+2871+-+Prolongamento+Jardim+Angela+Rosa,+Franca+-+SP,+14403-680/@-20.5432379,-47.4096715,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x94b0a8abe95c6403:0x9a48e7a884f7f5e2!2m2!1d-47.3746522!2d-20.5432414">
            <img width="40px" height="40px" src="../assets/route-icon.png" />
            <span style="font-size: 30px">Ver rotas</span>
        </a>
    </div>
</nav>
</header>

<main>
  <div class="grid-container mt-3">
    <mat-card class="grid-item mat-card" *ngFor="let item of items">
      <div class="card-image-container">
        <img mat-card-image [src]="item.image" alt="{{ item.title }}">
      </div>
      <mat-card-content>
        <h5 mat-card-title>{{ item.title }}</h5>
        <p mat-card-text>
          De: <s>R$9.99</s> <br />
          <b style="font-size: large">Por: R$8.99</b>
        </p>
      </mat-card-content>
    </mat-card>    
  </div>
</main>


<a class="whats-app-icon" href="https://web.whatsapp.com/send?phone=5516991675343" target="_blank">
  <img width="80px" height="80px" src="../assets/whatsapp-icon-2.png" alt="">
</a>

<footer class="bg-dark text-center text-white py-3 mt-3">
  <p>&copy; 2023 Beercommerce</p>
</footer>